<!DOCTYPE html>
<html>
    <head>
        <title>Jokonscha's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Jokonscha's blog</a></h1>
        </header>

        <article>
            <time>published: 03.02.2025, 13:25</time>
            <h2><a href="">My first post</a></h2>
            <p>Dein Penis ist schon klein.</p>
        </article>

        <article>
            <time>published: 03.02.2025, 13:25</time>
            <h2><a href="">My second post</a></h2>
            <p>Also richtig klein.</p>
        </article>
    </body>
</html>

